section.youtube
  .flex.flex--space-around

    .col-1.col-1-video
      .video-strip
      .flex-video <iframe width="560" height="315" src="https://www.youtube.com/embed/2XobeWnNenM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    .col-1.order-first
      p.home-lead.outdented ...making YouTube videos
      a(href="https://www.youtube.com/channel/UCRp3ZNMDmjlXol3fKGOoevA?view_as=subscriber" target="_blank").home-cta Watch on YouTube
