mixin thumb
  a(href="" style="background-image: url(https://www.fillmurray.com/230/500)").article-thumb
    .article-meta
      .name Article Name
      .date December 10, 2010

section.article#article
  .flex.flex--center

    .col-50
      .article-wrap
        {% for post in site.posts limit: 12 %}
        a(href="{{post.url}}" style="background-image: url(assets/images/posts/thumbnails/{{post.thumbnail}})").article-thumb
          .article-meta
            .name {{post.title}}
            .date {{post.date | date: "%b %d, %Y"}}
        {% endfor %}

    .col-50.flex.flex--center.order-first
      .col-1
        .desc-wrap
          p.home-lead.outdented ... Writing and designing articles
          a(href="#/" target="_blank").home-cta See all Articles
