section.instagram#instagram
  .flex.flex--space-around

    .col-1.instagram-widget
      h3 Instagram

    .col-1.order-first
      p.home-lead.outdented ... more videos on
      a(href="https://www.youtube.com/channel/UCRp3ZNMDmjlXol3fKGOoevA?view_as=subscriber" target="_blank").home-cta Instagram
