---
layout: default
title: Shreyas Gaonkar.com
---
<div class="home-wrap">

  {% include header.html %}

  <div class="home-sections">

    {% include section-about.html %}
    {% include section-youtube.html %}
    {% include section-mentoring.html %}
    {% include section-instagram.html %}
    {% include section-article.html %}
    {% include columns.html %}

    <!-- all sections here -->

    <div style="height: 2000px;"></div>



  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="assets/js/config.js"></script>
<script src="assets/js/functions.js"></script>