---
layout: default
title: Shreyas Gaonkar dot com
---
<div class="home-wrap">

  {% include header.html %}

  <div class="home-sections">

    {% include section-about.html %}
    {% include section-youtube.html %}
    {% include columns.html %}

    <!-- all sections here -->

    <div style="height: 2000px;"></div>



  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script src="assets/js/functions.js"></script>