// Google Font - Fira Sans
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,400i&display=swap");

//	Headings

.big,
.bigger,
.gigantic,
.huge,
.large,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $accent-color;
  font-weight: bold;
}

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px;
}

.huge,
h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px;
}

.large,
h2 {
  font-size: 42px;
  line-height: 1.14;
}

.bigger,
h3 {
  font-size: 26px;
  line-height: 1.38;
}

.big,
h4 {
  font-size: 22px;
  line-height: 1.38;
}

.small,
small {
  font-size: 10px;
  line-height: 1.2;
}
// Basic Text Style

p {
  font-size: 16px;
  margin: 0 0 20px;

  &::selection {
    background: rgba($color5, 0.25);
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

a {
  // color: $accent-color;
  color: $color2;
  text-decoration: none;

  &:hover {
    color: darken($accent-color, 10%);
  }
}

body {
  background: $bg-color;
  // background: $color4;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Fira Sans", sans-serif;
  color: $text-color;
}
