$primary-color: #f6c;
$text-color: #2e2d33;
$accent-color: #bd5248;
$bg-color: #f6f6f8;
$link-color: $accent-color;
$selection-color: #fff498;

$color1: #00ffb6;
$color2: #ff5e5b;
$color3: #d8d8d8;
$color4: #ffffea;
$color5: #ffed66;
